*{
border: 0%;
margin: 0%;

}
main{
  display: grid;
  height: 85vh;
  max-width: 100%;

}
/* ubicaciones*/
#container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #d8dfe8;
 
}
#contenedor-uno {
  flex-basis: 70%;
 order: 1;
  text-align: center;
  align-self: stretch;
  
}
  
  
  }
.area-text{
  width: 95%;
  height: 70%;
  border: none;
  outline: none;
  resize: none;

  font-size: 20px;
  border-radius: 32px;
  color: #0a3871;
 
  text-align: center;
  background: #d8dfe8;
  
}
/* indicaciones*/
#m-1{
  color:#635c5c80;
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}
/*Botones de interaccion animacion*/
.botonD:hover{
  color: #ffffff;
  background:#356EA9
}
.botonBS:hover{
  background: #0A3871
}
.botonE:hover{
  color: #0A3871;
  background: #d8dfe8;
 
}
#botonC:hover{
  color: #ffffff;
  background:#356EA9

}
/*Botones de interaccion ubicacion y style*/
.botonE {
  margin-left: 1rem;
  width: 10rem;
  height: 4rem;
  border: none;
  border-radius: 24px;
  color: #e9ecf8;
  background: #0a3871;
  transition: 1s;
  cursor: pointer;
}
.botonD {
  margin-left: 1rem;
  width: 10rem;
  height: 4rem;
  border-radius: 24px;
  border: #0a3871
  color: #0a3871;
  background: #d8dfe8;
  cursor: pointer;
}
/* boton de borrado*/
.botonBS {
  width: 10rem;
  height: 4rem;
  margin-left: 1rem;
  border: none;
  color: #e9ecf8;
  background: #356ea9;
  border-radius: 24px;
  cursor: pointer;
}
/* GRUPO 2*/
.imagen-principal {
  height: 50%;
  width: 100%;
  text-align: center;
}
.cajaOftexto{
  padding: 1rem;
}
#cajaCopiar{
  padding: 1rem;


}
/* respaldo de area de resultados */
#botonC {
  width: 10rem;
  height: 4rem;
  border: none;
  border-radius: 19px;

  font-size:120%;
  color: #0a3871;

  background: #d8dfe8;
  transition: 1s;
  cursor: pointer;
   box-shadow: 1px 1px 30px #bfd5ef, -1px -10px  #ffffff;
}
/* principal */
footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 15vh;
  background-color: #0a3871;
}
.copyright {
  color: #ffffff;
  font-style: italic;
}
.resultado {
  width: 100%;
  height: 65%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 32px;
}
.ocultar {
  display: none;
}
