*{
border: 0%;
margin: 0%;
}
header{
  width: 100%;
}
#Logo{
 
  margin-left: 1rem;
  margin-top: 1rem;

}
body{
  background: conic-gradient(from 315deg, #79F1A5, #0F5DAD);
  overflow: hidden;
 
}
main{
  display: grid;
  height: 85vh;
  max-width: 100%;
  
}
#container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#contenedor-uno {

  flex-basis: 70%;
  order: 1;
  text-align: center;
  box-sizing: border-box;

}
.textAreaIndex {
  padding-top: 2%;
  width: 90%;
  border: none;
  outline: none;
  resize: none;
  font-size: 20px;
  color: #000428;
  text-align: center;
  box-shadow: 1rem 1rem 40px black;
  
}
#m-1 {
  color: #FEFEFE;
  margin-bottom: 1rem;
  margin-right: 60%;
}
.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3%;
}
.botones{
  margin-left: 1rem;
  width: 10rem;
  height: 4rem;
  border: none;
  border-radius: 22px;
  
  transition: 1s;
  cursor: pointer;

  color: #e9ecf8;
  background: #141E30;  
  background: -webkit-linear-gradient(to top, #243B55, #141E30); 
  background: linear-gradient(to top, #243B55, #141E30);
}
#contenedor-dos {
    order: 2;
    height: 9999%;
    margin: auto;
 
    flex-basis: 20%;
   
    text-align: center;
    
   background: #ffffff;
    box-shadow: 1rem 1rem 2rem black, -1px -10px   #000000;

    border-radius: 3rem;
    width: 1fr;
    box-sizing: border-box;
    overflow: hidden;
   
}
b{
  font-size: 25px;
  color: #000428;


}
p{
  font-size: 15px;
}
h6{
  font-size: 10px;
}
.imagen-principal {
  width: 90%;
  text-align: center;
}
.containerTxto{
  height: 30%;
  width: 1fr;
  border-bottom: 5rem;
}
footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 15vh;
  width: 100%;

}
.copyright {
  color: #141E30;
  font-style: italic;
}



